In [1]:
import pandas

In [2]:
df = pandas.read_csv("cities_median_income.csv")

In [3]:
cols = list(df)

In [4]:
df

,State,Median Income 2016,Median Income 2015,Median Income 2014,Median Income 2013,Median Income 2012,Median Income 2011,Median Income 2010
0,NaN,"44,758","43,623","43,511","43,253","43,160","42,934","42,081"
1,NaN,"74,444","72,515","71,829","70,760","69,917","69,014","66,521"
2,NaN,"51,340","50,255","49,928","49,774","50,256","50,752","50,448"
3,NaN,"42,336","41,371","41,264","40,768","40,531","40,149","39,267"
4,NaN,"63,783","61,818","61,489","61,094","61,400","61,632","60,883"
5,NaN,"62,520","60,629","59,448","58,433","58,244","57,685","56,456"
6,NaN,"71,755","70,331","69,899","69,461","69,519","69,243","67,740"
7,NaN,"61,017","60,509","60,231","59,878","60,119","59,317","57,599"
8,NaN,"48,900","47,507","47,212","46,956","47,309","47,827","47,661"
9,NaN,"51,037","49,620","49,342","49,179","49,604","49,736","49,347"
10,NaN,"71,977","69,515","68,201","67,402","67,492","67,116","66,420"
11,NaN,"49,174","47,583","47,334","46,767","47,015","46,890","46,423"
12,NaN,"59,196","57,574","57,166","56,797","56,853","56,576","55,735"
13,NaN,"50,433","49,255","48,737","48,248","48,374","48,393","47,697"
14,NaN,"54,570","53,183","52,716","51,843","51,129","50,451","48,872"
15,NaN,"53,571","52,205","51,872","51,332","51,273","50,594","49,424"
16,NaN,"44,811","43,740","43,342","43,036","42,610","42,248","41,576"
17,NaN,"45,652","45,047","44,991","44,874","44,673","44,086","43,445"
18,NaN,"50,826","49,331","48,804","48,453","48,219","47,898","46,933"
19,NaN,"76,067","74,551","74,149","73,538","72,999","72,419","70,647"
20,NaN,"70,954","68,563","67,846","66,866","66,658","65,981","64,509"
21,NaN,"50,803","49,576","49,087","48,411","48,471","48,669","48,432"
22,NaN,"63,217","61,492","60,828","59,836","59,126","58,476","57,243"
23,NaN,"40,528","39,665","39,464","39,031","38,882","38,718","37,881"
24,NaN,"49,593","48,173","47,764","47,380","47,333","47,202","46,262"
25,NaN,"48,380","47,169","46,766","46,230","45,456","45,324","43,872"
26,NaN,"54,384","52,997","52,400","51,672","51,381","50,695","49,342"
27,NaN,"53,094","51,847","52,205","52,800","54,083","55,553","55,726"
28,NaN,"68,485","66,779","65,986","64,916","64,925","64,664","63,277"
29,NaN,"73,702","72,093","72,062","71,629","71,637","71,180","69,811"
30,NaN,"45,674","44,963","44,968","44,927","44,886","44,631","43,820"
31,NaN,"60,741","59,269","58,687","58,003","57,683","56,951","55,603"
32,NaN,"48,256","46,868","46,693","46,334","46,450","46,291","45,570"
33,NaN,"59,114","57,181","55,579","53,741","51,641","49,415","46,781"
34,NaN,"50,674","49,429","48,849","48,308","48,246","48,071","47,358"
35,NaN,"48,038","46,879","46,235","45,339","44,891","44,287","42,979"
36,NaN,"53,270","51,243","50,521","50,229","50,036","49,850","49,260"
37,NaN,"54,895","53,599","53,115","52,548","52,267","51,651","50,398"
38,NaN,"58,387","56,852","56,423","56,361","56,102","55,975","54,902"
39,NaN,"46,898","45,483","45,033","44,779","44,623","44,587","43,939"
40,NaN,"52,078","50,957","50,338","49,495","49,091","48,010","46,369"
41,NaN,"46,574","45,219","44,621","44,298","44,140","43,989","43,314"
42,NaN,"54,727","53,207","52,576","51,900","51,563","50,920","49,646"
43,NaN,"62,518","60,727","59,846","58,821","58,164","57,783","56,330"
44,NaN,"56,104","55,176","54,447","54,267","54,168","53,422","51,841"
45,NaN,"66,149","65,015","64,792","63,907","63,636","63,302","61,406"
46,NaN,"62,848","61,062","60,294","59,478","59,374","58,890","57,244"
47,NaN,"42,644","41,751","41,576","41,043","40,400","39,550","38,380"
48,NaN,"54,610","53,357","52,738","52,413","52,627","52,374","51,598"
49,NaN,"59,143","58,840","58,252","57,406","56,573","56,380","53,802"

In [5]:
states = [line.rstrip('\n\r') for line in open('./states.txt')]

In [14]:
# Input the name of a city per row in each data frame
for i in df.iterrows():
    df.at[i, 'States'] = states[i]

TypeError: list indices must be integers or slices, not tuple

In [11]:
df

,State,Median Income 2016,Median Income 2015,Median Income 2014,Median Income 2013,Median Income 2012,Median Income 2011,Median Income 2010
0,Alabama,"44,758","43,623","43,511","43,253","43,160","42,934","42,081"
1,Alaska,"74,444","72,515","71,829","70,760","69,917","69,014","66,521"
2,Arizona,"51,340","50,255","49,928","49,774","50,256","50,752","50,448"
3,Arkansas,"42,336","41,371","41,264","40,768","40,531","40,149","39,267"
4,California,"63,783","61,818","61,489","61,094","61,400","61,632","60,883"
5,Colorado,"62,520","60,629","59,448","58,433","58,244","57,685","56,456"
6,Connecticut,"71,755","70,331","69,899","69,461","69,519","69,243","67,740"
7,Delaware,"61,017","60,509","60,231","59,878","60,119","59,317","57,599"
8,Florida,"48,900","47,507","47,212","46,956","47,309","47,827","47,661"
9,Georgia,"51,037","49,620","49,342","49,179","49,604","49,736","49,347"
10,Hawaii,"71,977","69,515","68,201","67,402","67,492","67,116","66,420"
11,Idaho,"49,174","47,583","47,334","46,767","47,015","46,890","46,423"
12,Illinois,"59,196","57,574","57,166","56,797","56,853","56,576","55,735"
13,Indiana,"50,433","49,255","48,737","48,248","48,374","48,393","47,697"
14,Iowa,"54,570","53,183","52,716","51,843","51,129","50,451","48,872"
15,Kansas,"53,571","52,205","51,872","51,332","51,273","50,594","49,424"
16,Kentucky,"44,811","43,740","43,342","43,036","42,610","42,248","41,576"
17,Louisiana,"45,652","45,047","44,991","44,874","44,673","44,086","43,445"
18,Maine,"50,826","49,331","48,804","48,453","48,219","47,898","46,933"
19,Maryland,"76,067","74,551","74,149","73,538","72,999","72,419","70,647"
20,Massachusetts,"70,954","68,563","67,846","66,866","66,658","65,981","64,509"
21,Michigan,"50,803","49,576","49,087","48,411","48,471","48,669","48,432"
22,Minnesota,"63,217","61,492","60,828","59,836","59,126","58,476","57,243"
23,Mississippi,"40,528","39,665","39,464","39,031","38,882","38,718","37,881"
24,Missouri,"49,593","48,173","47,764","47,380","47,333","47,202","46,262"
25,Montana,"48,380","47,169","46,766","46,230","45,456","45,324","43,872"
26,Nebraska,"54,384","52,997","52,400","51,672","51,381","50,695","49,342"
27,Nevada,"53,094","51,847","52,205","52,800","54,083","55,553","55,726"
28,New Hampshire,"68,485","66,779","65,986","64,916","64,925","64,664","63,277"
29,New Jersey,"73,702","72,093","72,062","71,629","71,637","71,180","69,811"
30,New Mexico,"45,674","44,963","44,968","44,927","44,886","44,631","43,820"
31,New York,"60,741","59,269","58,687","58,003","57,683","56,951","55,603"
32,North Carolina,"48,256","46,868","46,693","46,334","46,450","46,291","45,570"
33,North Dakota,"59,114","57,181","55,579","53,741","51,641","49,415","46,781"
34,Ohio,"50,674","49,429","48,849","48,308","48,246","48,071","47,358"
35,Oklahoma,"48,038","46,879","46,235","45,339","44,891","44,287","42,979"
36,Oregon,"53,270","51,243","50,521","50,229","50,036","49,850","49,260"
37,Pennsylvania,"54,895","53,599","53,115","52,548","52,267","51,651","50,398"
38,Rhode Island,"58,387","56,852","56,423","56,361","56,102","55,975","54,902"
39,South Carolina,"46,898","45,483","45,033","44,779","44,623","44,587","43,939"
40,South Dakota,"52,078","50,957","50,338","49,495","49,091","48,010","46,369"
41,Tennessee,"46,574","45,219","44,621","44,298","44,140","43,989","43,314"
42,Texas,"54,727","53,207","52,576","51,900","51,563","50,920","49,646"
43,Utah,"62,518","60,727","59,846","58,821","58,164","57,783","56,330"
44,Vermont,"56,104","55,176","54,447","54,267","54,168","53,422","51,841"
45,Virginia,"66,149","65,015","64,792","63,907","63,636","63,302","61,406"
46,Washington,"62,848","61,062","60,294","59,478","59,374","58,890","57,244"
47,West Virginia,"42,644","41,751","41,576","41,043","40,400","39,550","38,380"
48,Wisconsin,"54,610","53,357","52,738","52,413","52,627","52,374","51,598"
49,Wyoming,"59,143","58,840","58,252","57,406","56,573","56,380","53,802"
State,Wyoming,Wyoming,Wyoming,Wyoming,Wyoming,Wyoming,Wyoming,Wyoming